# **Importing Libraries**

In [3]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score
import warnings

# Importing Data

PIMA Dataset from Kaggle

In [4]:
diabetes_dataset = pd.read_csv ('diabetes.csv')
diabetes_dataset.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [5]:
diabetes_dataset.shape

(768, 9)

Statistical Data of these Columns

In [ ]:
diabetes_dataset.describe( )

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [ ]:
diabetes_dataset['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [ ]:
diabetes_dataset.groupby('Outcome').get_group(0)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
1,1,85,66,29,0,26.6,0.351,31,0
3,1,89,66,23,94,28.1,0.167,21,0
5,5,116,74,0,0,25.6,0.201,30,0
7,10,115,0,0,0,35.3,0.134,29,0
10,4,110,92,0,0,37.6,0.191,30,0
...,...,...,...,...,...,...,...,...,...
762,9,89,62,0,0,22.5,0.142,33,0
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
767,1,93,70,31,0,30.4,0.315,23,0

In [ ]:
diabetes_dataset.groupby('Outcome').get_group(1)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
2,8,183,64,0,0,23.3,0.672,32,1
4,0,137,40,35,168,43.1,2.288,33,1
6,3,78,50,32,88,31.0,0.248,26,1
8,2,197,70,45,543,30.5,0.158,53,1
...,...,...,...,...,...,...,...,...,...
755,1,128,88,39,110,36.5,1.057,37,1
757,0,123,72,0,0,36.3,0.258,52,1
759,6,190,92,0,0,35.5,0.278,66,1
761,9,170,74,31,0,44.0,0.403,43,1
766,1,126,60,0,0,30.1,0.349,47,1

Grouping the Data by Outcome and Finding mean of that Data

In [ ]:
diabetes_dataset.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

From this data it's visible markers that how Obesity, more insulin levels and more age are greater factors in terms of being Diabetic.

In [ ]:
# Removing the Label Column
diabetes_dataset_stat = diabetes_dataset.drop( columns= 'Outcome', axis = 1)
diabetes_dataset_label = diabetes_dataset['Outcome']

Data Standardization

In [ ]:
#Standardized_data = StandardScaler().fit_transform(diabetes_dataset_stat) #Fitting the Data and Standardizing it
#print(Standardized_data)

In [ ]:
#X = Standardized_data
X = diabetes_dataset_stat
Y = diabetes_dataset_label

Splitting the Data into Train Test Split

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.2, stratify = Y, random_state = 1)

**Training the Model**

In [ ]:
model = svm.SVC(kernel= 'linear')

In [ ]:
# Training the Data into model
model.fit(X_train, Y_train)

SVC(kernel='linear')

Testing the Accuracy of Model: Model Evaluation <br>
Finding the Accuracy Score

In [ ]:
X_train_prediction = model.predict(X_train)
train_data_accuracy = accuracy_score(X_train_prediction, Y_train)
print('Accuracy on Training Data = ', train_data_accuracy)

Accuracy on Training Data =  0.7736156351791531

In [ ]:
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)
print('Accuracy on Test Data = ', test_data_accuracy)

Accuracy on Test Data =  0.7792207792207793

**The Pediction System**

In [ ]:
input = (6,148,72,35,0,33.6,0.627,50)
warnings.filterwarnings('ignore')
input_array = np.asanyarray(input)
input_array_reshaped = input_array.reshape(1,-1)
print(input_array_reshaped)
std_input = StandardScaler().fit(diabetes_dataset_stat)
std_input = std_input.transform(input_array_reshaped)
print(std_input)

[[  6.    148.     72.     35.      0.     33.6     0.627  50.   ]]
[[ 0.63994726  0.84832379  0.14964075  0.90726993 -0.69289057  0.20401277
   0.46849198  1.4259954 ]]

In [ ]:
answer = model.predict(input_array_reshaped)  # It's a list and not an Integer
if (answer[0] == 0):
  {
    print('The Person is Non-Diabetic')
  }
else:
  print('The Person is Diabetic')

The Person is Diabetic

****

# Deploying and Saving the Model

In [ ]:
import pickle

In [ ]:
filename = 'diabetes_model.sav'
pickle.dump(model, open(filename, 'wb')) # This will create a File

In [ ]:
# Loading the Model
loaded_model = pickle.load(open('diabetes_model.sav', 'rb'))